{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
        "no-underscore-dangle": ["off"],
        "class-methods-use-this": ["off"],
        "no-undef": ["off"],
        "indent": ["error", 4, {
            "SwitchCase": 1,
            "MemberExpression": 1
        }],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "no-param-reassign": ["off"],
        "no-new": 1,
        "max-len": [
          "error",
          {
            "code": 120,
            "ignoreComments": true
          }
        ],
        "no-void": 0,
  },
  "plugins": ["html", "markdown"]
}
