$bg: #cccccc;
$font-color: #333;

body {
    background-color: $bg;

    h1 {
        color: $font-color;
    }

    p {
        color: $font-color;
        font-size: 12px;

        a {
            text-decoration: none;
        }
    }
}