// ==========================================================================
// Color palette
// ==========================================================================

$bg: #eaeaea;
$cardBg: #fff;
$bg_txt: #333;
$bg_border: #ccc;

$primary_bg: #c70955;
$primary_txt: #fff;

$highlight_bg: #feffef;
$highlight_txt: #000;

$negative_txt: #e20c0c;
$disabled_bg: #ccc;
$disabled_txt: #eaeaea;
$positive_bg: #d9f7de;

// ==========================================================================
// Font Sizes
// ==========================================================================

$font-size-0: 2.5rem;       // = 40px
$font-size-1: 2rem;         // = 32px
$font-size-2: 1.625rem;     // = 26px
$font-size-3: 1.5rem;       // = 24px
$font-size-4: 1.375rem;     // = 22px
$font-size-5: 1.125rem;     // = 18px
$font-size-6: 1rem;         // = 16px
$font-size-7: .9375rem;     // = 15px
$font-size-8: .875rem;      // = 14px
$font-size-9: .8125rem;     // = 13px
$font-size-10: .75rem;      // = 12px
$font-size-11: .625rem;     // = 10px
$font-size-12: .5rem;       // = 8px

// ==========================================================================
// Style
// ==========================================================================
$border-radius: 4px;